/*
 *  `GENERAL CONTENT`
 * ------------------------------------------------------------------ */

.heart {
	color: rgba(221,15,34,.65);
}
p {
	max-width: 522px;
	width: 98%;
}
p:first-child {
	font-size: 2em;
	margin-bottom: .85em;
}