//
//  `COLORS`
// ------------------------------------------------------------------ */

$color_border			:  #ccc		;  // light grey
$color_background		:  #e4e5e6	;  // lightest grey
$color_background_alt	:  #cfdbe8	;  // light blue
$color_background_alt2	:  #212222	;  // dark gray
$color_text				:  #222		;  // black
$color_text_alt			:  #eb1f20	;  // Verizon red
$color_text_alt2		:  #fff		;  // white
$color_text_alert		:  #910f0f	;  // bold red
$color_text_callout		:  #236DA6	;  // bold blue
