/*
 *  `BASE STYLES`
 * ------------------------------------------------------------------ */

/*-- ~LINKS --*/
a,
a:visited {
	border-bottom: 2px solid rgba(0,170,248,.5);
	color: rgba(221,15,34,.65);;
	text-decoration: none;
}
a:hover {
	color: #6f77a5;
}

/*-- ~FIGURES & IMAGES --*/

/*-- ~TABLES --*/

/*-- ~FORMS --*/

